<ion-header>
  <ion-navbar>
    <ion-title>
      Últimos vídeos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content">
    <div class="card-novidades">
      <ion-card>
        <ion-card-header>
          Últimos adicionados
        </ion-card-header>
        <ion-card-content>
          <p> Novidades todos os dias!</p>
          <p>Todos os dias adicionaremos mais 10 vídeos novos.</p>
        </ion-card-content>
      </ion-card>
    </div>
  <div class="card-videos">
    <ion-card *ngFor="let video of videosList">
      <ion-card-header>
      {{ video.titulo }}  
      </ion-card-header>
      <ion-card-content>
        <video  controls="controls" preload="metadata"  [src]="video.url" webkit-playsinline="webkit-playsinline" class="videoPlayer"></video>
        <button block ion-button color="verde" (click)="compartilharWhatsapp(video.url, video.titulo)"><ion-icon name="logo-whatsapp"></ion-icon> Enviar para amigos e grupos</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
