page-home {
    .main-content {
        background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
    }

    .card-videos {
        ion-card-header {
            text-align: center;
            background-color: #1dd1a1;
            color: #ffffff;
        }

        ion-card-content {
            padding: 0px;
            p {
                text-align: center;
            }
        }
    }

    .card-novidades {
        ion-card-header {
            text-align: center;
            background-color: #1dd1a1;
            color: #ffffff;
        }

        ion-card-content {
            padding: 10px !important;

            p {
                text-align: center;
            }
        }
    }


    .videoPlayer {
        width: 100%;
        height: 100%;
    }

    ion-icon {
        margin-right: 5px;
    }
}
